// import files
@import "import";

/* GENERAL -------------------------------------------------*/
body {
  margin: 0;
  font-family: $font-oxygen;
  color: $primary-shade;
  font-size: $font-size-base;
  background-color: $secondary-shade;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* UTILS -------------------------------------------------*/
.large-container {
  padding: 0 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.ornement-left {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-right: 1px solid $primary-shade;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

.ornement-right {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  border-left: 1px solid $primary-shade;
  @media screen and (max-width: 992px) {
    display: none;
  }
}

/* SLICK SLIDER -------------------------------------------------*/
.container-slick-slider {
  position: relative;

  .slick-left {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(-50%, 0);
    cursor: pointer;

    &:after {
      content: '';
      background-image: url("../image/pictos/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 42px;
      height: 17px;
      display: flex;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .slick-right {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(-50%, 0);
    cursor: pointer;

    &:after {
      content: '';
      background-image: url("../image/pictos/arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 42px;
      height: 17px;
      display: flex;
      transform: scaleX(-1);
    }

    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: auto;
}

.slick-dots {
  text-align: start;
  margin: 0 1rem;

  li {
    text-align: center;
    display: none;

    a {
      color: black;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        background-color: black;
        display: flex;
        margin-bottom: 5px;
      }
    }

    &.slick-active {
      a {
        &:before {
          height: 3px;
        }
      }
    }
  }
}

.slick-dots li.slick-active,
.slick-dots li.slick-active + li,
.slick-dots li.slick-active + li + li {
  display: inline-block;
}

.slick-dots li:nth-last-child(1),
.slick-dots li:nth-last-child(2),
.slick-dots li:nth-last-child(3) {
  display: inline-block;
}

.slick-dots li.slick-active ~ li:nth-last-child(1),
.slick-dots li.slick-active ~ li:nth-last-child(2),
.slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}

.slick-dots li.slick-active + li + li:nth-last-child(3),
.slick-dots li.slick-active + li + li:nth-last-child(2),
.slick-dots li.slick-active + li + li:nth-last-child(1),
.slick-dots li.slick-active + li:nth-last-child(3),
.slick-dots li.slick-active + li:nth-last-child(2),
.slick-dots li.slick-active + li:nth-last-child(1) {
  display: inline-block;
}

/* TITRES -------------------------------------------------*/
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-family: $font-alvaro;
  font-size: $h1-font-size-h1;
  font-weight: $font-regular;
  text-transform: uppercase;
}

h2, .h2 {
  font-family: $font-alvaro;
  font-size: $h2-font-size-h2;
  text-transform: uppercase;
  font-weight: $font-regular;
}

h3, .h3 {
  font-family: $font-oxygen;
  font-size: $h3-font-size-h3;
  font-weight: 700;
}

h4, .h4 {
  font-family: $font-alvaro;
  font-size: $h4-font-size-h4;
  font-weight: $font-regular;
}

.subtitle-h1 {
  font-family: $font-alvaro;
  font-size: $h3-font-size-h3;
  font-weight: 700;
}

/* ICONS -------------------------------------------------*/
.icon-panier {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../image/pictos/panier.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 18px;
  height: 20px;
}

/* TEXTE -------------------------------------------------*/
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/* LINK -------------------------------------------------*/
a {
  color: $primary-shade;
  text-decoration: underline;

  &:hover {
    font-weight: $font-bold;
  }
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* BOUTONS -------------------------------------------------*/
button, [type="button"], [type="reset"], [type="submit"] {
  font-family: $font-oxygen;
  border: 1px solid $primary-shade;
  color: $primary-shade;
  background-color: transparent;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  font-family: $font-oxygen;
  border: 1px solid $primary-shade;
  color: $primary-shade;
  background-color: transparent;
}

.btn, input[type="submit"] {
  font-family: $font-oxygen;
  display: flex;
  align-items: baseline;
  width: max-content;
  font-weight: 400;
  line-height: 1.5;
  color: $primary-shade;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 16px;
  background: linear-gradient(to right, $primary-shade 50%, $secondary-shade 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .5s ease-out;

  &:hover {
    font-weight: $font-regular;
    color: $secondary-shade;
    background-position: left bottom;

    &:after {
      background-image: url("../image/pictos/arrow-right-white.svg");
    }
  }

  &:after {
    content: '';
    background-image: url("../image/pictos/arrow-right-black.svg");
    display: flex;
    width: 8px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
  }

  &.btn-primary,
  &.btn-primary:not(:disabled) {
    color: $primary-shade;
    background-color: transparent;
    border-color: $primary-shade;

    &:hover,
    &:focus,
    &:active {
      border-color: $primary-shade;
      background-color: transparent;
      color: $secondary-shade;
    }
  }
}

/* HEADER -------------------------------------------------*/
header {
  padding: 1rem 0;

  .nav-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 42px;

    .navbar {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav {
      display: flex;
      flex-wrap: wrap;

      .nav-link {
        position: relative;
        display: block;
        padding: .5rem 1rem;
        color: $primary-shade;
        font-size: 20px;
        text-decoration: none;
        transition: all .15s ease-in-out;

        &:after {
          background: none repeat scroll 0 0 transparent;
          bottom: 0;
          content: "";
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          background: $primary-shade;
          transition: width .5s ease 0s, right .15s ease 0s;
          width: 0;
        }

        &.link-panier {
          display: flex;
          align-items: center;
        }

        &:hover {
          font-weight: $font-regular;

          &:after {
            width: 100%;
            left: 0;
          }
        }
      }
    }

    .navbar-brand {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .toggle-navbar {
      z-index: 1;
      display: none;
      background-image: url("../image/pictos/bars-solid.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      margin-left: auto;
      cursor: pointer;

      &.toggle {
        background-image: url("../image/pictos/times-solid.svg");
      }
    }
  }
}

@media screen and (max-width: 880px) {
  header {

    .nav-container {

      .navbar {
        position: fixed;
        background: $primary-shade;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        z-index: 1;
        justify-content: center;
        top: -20px;
        right: 0;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        &.open{
          clip-path: circle(1000px at 90% -10%);
          -webkit-clip-path: circle(1000px at 90% -10%);
          pointer-events: all;
          top: 0;
        }
        .nav {
          flex-direction: column;
          align-items: center;
          .nav-link {
            color: $secondary-shade;
            .icon-panier {
              display: none;
            }
          }
        }
      }

    .navbar-brand {
      left: 0;
      transform: translate(0, -50%);
    }

    .toggle-navbar {
      display: flex;
    }
  }
}

}

/* HERO -------------------------------------------------*/
.hero {
  position: relative;

  .img-header {
    width: 100%;
    @media screen and (max-width: 800px) {
      min-height: 400px;
      object-fit: cover;
    }
  }

  .text-container {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 450px;
    text-align: center;
    color: $secondary-shade;
    padding: 0 20px;

    @media screen and (max-width: 800px) {
      width: 90%;
      max-width: 90%;
    }

    @media screen and (max-width: 500px) {
      width: 80%;
      max-width: 80%;
    }

    h1 {
      margin: 2rem 0;
      @media screen and (max-width: 800px) {
        font-size: 60px;
      }
    }

    .scroll-down {
      color: $secondary-shade;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -4rem;
      transform: translate(-50%, 0);
      width: 1px;
      height: 3rem;
      background-color: $secondary-shade;
    }
  }
}

/* INTRODUCTION -------------------------------------------------*/
.introduction {
  position: relative;
  margin-top: 80px;
  border-top: 1px solid $primary-shade;
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: calc(1111px - 4rem);

  @media screen and (max-width: 992px) {
    min-height: auto;
    height: auto;
  }

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: -85px;
    transform: translate(-50%, 0);
    width: 1px;
    height: 85px;
    background-color: $primary-shade;
  }

  .text-container {
    margin-left: 300px;
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }

  .image-container {
    margin-top: 4rem;

    img {
      width: 100%;
    }
  }
}

/* PRODUITS -------------------------------------------------*/
.produits {
  position: relative;
  border-top: 1px solid $primary-shade;
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: calc(828px - 4rem);
  @media screen and (max-width: 992px) {
    min-height: auto;
    height: auto;
  }

  .container-slick-slider {
    margin-top: 4rem;
    overflow: hidden;
    .sous-container-slider {
      width: 100%;
      margin-left: 250px;
      position: relative;

      @media screen and (max-width: 992px) {
        margin-left: 0;
      }
    }

    .slick-slider {
      margin-bottom: 50px;
      .slick-dots {
        bottom: -50px;
      }
    }

    .bg-grey {
      background-color: $bg-grey;
      margin: 1rem;
      padding: 2rem;
      height: 100%;

      img {
        height: 200px;
        width: auto;
        max-width: 100%;
        object-fit: cover;
        display: flex;
        margin: auto;
      }

      .text-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;

        h3 {
          margin-bottom: 0;
          flex: 0 0 50%;
        }

        .price {
          margin-bottom: 0;
        }
      }
    }
  }
}

/* TOUT COMPRIS -------------------------------------------------*/
.tout-compris {
  position: relative;
  border-top: 1px solid $primary-shade;
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: calc(927px - 4rem);
  @media screen and (max-width: 992px) {
    min-height: auto;
    height: auto;
  }

  .container-img-schema {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: calc(100% - 156px);
    .legend-img {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .legend {
        display: flex;
        align-items: center;
        justify-content: center;
        &.legend-left {
          &:before {
            content: '';
            width: 7px;
            height: 7px;
            background-color: $primary-shade;
            border-radius: 100%;
            position: absolute;
            right: 0;
          }
          &:after {
            content: '';
            width: 155px;
            height: 1px;
            background-color: $primary-shade;
            margin-left: 10px;
          }
        }
        &.legend-right {
          &:before {
            content: '';
            width: 155px;
            height: 1px;
            background-color: $primary-shade;
            margin-right: 10px;
          }
          &:after {
            content: '';
            width: 7px;
            height: 7px;
            background-color: $primary-shade;
            border-radius: 100%;
            position: absolute;
            left: 0;
          }
        }

        @media screen and (max-width: 732px) {
          font-size: 13px;
          &.legend-left {
            &:after {
              width: 100px;
            }
          }
          &.legend-right {
            &:before {
              width: 100px;
            }
          }
        }

        @media screen and (max-width: 1200px) {
          font-size: 12px;
          &.legend-left {
            &:before {
              width: 5px;
              height: 5px;
            }
            &:after {
              width: 80px;
              margin-left: 5px;
            }
          }
          &.legend-right {
            &:before {
              width: 80px;
              margin-right: 5px;
            }
            &:after {
              width: 5px;
              height: 5px;
            }
          }
        }
        @media screen and (max-width: 642px) {
          font-size: 10px;
          &.legend-left {
            &:after {
              width: 40px;
            }
          }
          &.legend-right {
            &:before {
              width: 40px;
            }
          }
        }
        @media screen and (max-width: 455px) {
          font-size: 8px;
          &.legend-left {
            &:before {
              width: 3px;
              height: 3px;
            }
            &:after {
              width: 20px;
            }
          }
          &.legend-right {
            &:before {
              width: 20px;
            }
            &:after {
              width: 3px;
              height: 3px;
            }
          }
        }
      }

      .nez {
        position: absolute;
        top: 30px;
        left: -120px;
        @media screen and (max-width: 1200px) {
          top: 15px;
          left: -65px;
        }
        @media screen and (max-width: 992px) {
          top: 7px;
          left: -85px;
        }
        @media screen and (max-width: 732px) {
          left: -80px;
          top: 10px;
        }
        @media screen and (max-width: 642px) {
          top: 7px;
          left: -45px;
        }
        @media screen and (max-width: 455px) {
          top: 5px;
          left: -20px;
        }
      }
    }

    .talon {
      position: absolute;
      top: 210px;
      left: 35px;
      @media screen and (max-width: 1200px) {
        top: 135px;
        left: 25px;
      }
      @media screen and (max-width: 992px) {
        top: 90px;
        left: -20px;
      }
      @media screen and (max-width: 732px) {
        left: -20px;
      }
      @media screen and (max-width: 642px) {
        top: 70px;
        left: 0px;
      }
      @media screen and (max-width: 455px) {
        top: 55px;
        left: 15px;
      }
    }

    .clou-de-fixation {
      position: absolute;
      top: 342px;
      left: -260px;
      @media screen and (max-width: 1200px) {
        top: 225px;
        left: -175px;
      }
      @media screen and (max-width: 992px) {
        top: 147px;
      }
      @media screen and (max-width: 732px) {
        left: -175px;
      }
      @media screen and (max-width: 642px) {
        top: 118px;
        left: -120px;
      }
      @media screen and (max-width: 455px) {
        top: 88px;
        left: -85px;
      }
    }

    .manche {
      position: absolute;
      top: 375px;
      left: -208px;
      @media screen and (max-width: 1200px) {
        top: 250px;
        left: -134px;
      }
      @media screen and (max-width: 992px) {
        top: 162px;
        left: -134px;
      }
      @media screen and (max-width: 732px) {
        left: -134px;
      }
      @media screen and (max-width: 642px) {
        top: 131px;
        left: -86px;
      }
      @media screen and (max-width: 455px) {
        top: 97px;
        left: -57px;
      }
    }

    .dos {
      position: absolute;
      top: 60px;
      right: 70px;
      @media screen and (max-width: 1200px) {
        top: 30px;
        right: 75px;
      }
      @media screen and (max-width: 992px) {
        top: 20px;
        right: 10px;
      }
      @media screen and (max-width: 732px) {
        right: 10px;
        top: 20px;
      }
      @media screen and (max-width: 642px) {
        top: 15px;
        right: 30px;
      }
      @media screen and (max-width: 455px) {
        top: 10px;
        right: 35px;
      }
    }

    .pivot {
      position: absolute;
      top: 265px;
      right: -155px;
      @media screen and (max-width: 1200px) {
        top: 170px;
        right: -80px;
      }
      @media screen and (max-width: 992px) {
        top: 110px;
        right: -90px;
      }
      @media screen and (max-width: 732px) {
        top: 110px;
        right: -95px;
      }
      @media screen and (max-width: 642px) {
        top: 90px;
        right: -55px;
      }
      @media screen and (max-width: 455px) {
        top: 65px;
        right: -35px;
      }
    }

    .crochet {
      position: absolute;
      top: 305px;
      right: -185px;
      @media screen and (max-width: 1200px) {
        top: 200px;
        right: -105px;
      }
      @media screen and (max-width: 992px) {
        top: 130px;
        right: -120px;
      }
      @media screen and (max-width: 732px) {
        top: 130px;
        right: -120px;
      }
      @media screen and (max-width: 642px) {
        top: 102px;
        right: -75px;
      }
      @media screen and (max-width: 455px) {
        top: 75px;
        right: -50px;
      }
    }

    img.schema {
      max-width: 100%;
      @media screen and (max-width: 1200px) {
        width: 300px;
      }
      @media screen and (max-width: 992px) {
        width: 200px;
      }
      @media screen and (max-width: 642px) {
        width: 160px;
      }
      @media screen and (max-width: 455px) {
        width: 120px;
      }
    }
    @media screen and (max-width: 1200px) {
      width: calc(100% - 186px);
      margin-right: 15px;
    }
    @media screen and (max-width: 992px) {
      width: calc(100% - 30px);
      margin-left: 15px;
    }
  }

  .text-container {
    margin-top: 4rem;
    @media screen and (max-width: 1200px) {
      margin-left: 100px;
    }
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
}

/* LE MEILLEUR -------------------------------------------------*/
.le-meilleur {
  position: relative;
  border-top: 1px solid $primary-shade;
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: calc(613px - 4rem);
  @media screen and (max-width: 992px) {
    min-height: auto;
    height: auto;
  }

  .block-container {
    position: relative;
    background-color: $secondary-shade;
    border: 1px solid $primary-shade;
    padding: 2rem;
    .text-container {
      h2 {
        font-size: 100px;
      }

      p {
        margin-bottom: 0;
      }
    }

    &.block-1 {
      img {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .text-container {
        margin-top: 100px;
      }
    }

    &.block-2 {
      margin-top: 4rem;
      @media screen and (max-width: 992px) {
        margin-top: 5rem;
      }

      img {
        position: absolute;
        top: -30px;
        right: 0;
      }

      .text-container {
        margin-top: 50px;
      }
    }

    &.block-3 {
      margin-top: 8rem;
      @media screen and (max-width: 992px) {
        margin-top: 5rem;
      }

      img {
        position: absolute;
        top: -45px;
        left: 50%;
        transform: translate(-50%, 0);
      }

      .text-container {
        margin-top: 80px;
      }
    }
  }
}

/* CARTE -------------------------------------------------*/
.map {
  position: relative;
  border-top: 1px solid $primary-shade;
  padding-top: 4rem;
  padding-bottom: 3rem;
  min-height: calc(706px - 4rem);
  @media screen and (max-width: 992px) {
    min-height: auto;
    height: auto;
  }

  .row {
    img {
      width: 100%;
    }
  }
}

/* FOOTER -------------------------------------------------*/
footer {
  border-top: 1px solid $primary-shade;
  padding: 3rem 0;

  .flex-row {
    display: flex;

    .col-flex {
      flex: 0 0 20%;

      &.col-logo {
        flex: 0 0 30%;
        margin-right: auto;
      }
    }

    h3 {
      color: black;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        a {
          display: block;
          padding: 5px 0;
          text-decoration: none;

          &:hover {
            color: black;
            font-weight: $font-regular;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    .flex-row {
      flex-direction: column;
      align-items: center;
      .col-flex {
        flex: 0 0 100%;
        margin: 1rem;
        text-align: center;

        &.col-logo {
          flex: 0 0 100%;
          margin: 1rem auto;
        }
      }
    }
  }
}